lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# IntelliJ

.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/

# Sublime project files
*.sublime*


